<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>updater</string>
	<key>bundleid</key>
	<string>com.samverschueren.alfred-updater</string>
	<key>connections</key>
	<dict>
		<key>0D531639-4A07-4B31-B86D-69425EDD028D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84E6C25B-DBDB-487B-84AE-B6FDBD9DDB07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>200C812D-CA57-4F67-8C8B-2E984918C896</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F280338-5360-406E-8889-747D899A14F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>222B01D5-7DB9-4827-93E6-ACE4DBC92D27</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>741A7DC9-2DED-48C2-B959-26BC7AD57A13</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>200C812D-CA57-4F67-8C8B-2E984918C896</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>741A7DC9-2DED-48C2-B959-26BC7AD57A13</key>
		<array/>
		<key>84E6C25B-DBDB-487B-84AE-B6FDBD9DDB07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>222B01D5-7DB9-4827-93E6-ACE4DBC92D27</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Alfred</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>741A7DC9-2DED-48C2-B959-26BC7AD57A13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>update</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Update your Alfred workflows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D531639-4A07-4B31-B86D-69425EDD028D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>84E6C25B-DBDB-487B-84AE-B6FDBD9DDB07</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>222B01D5-7DB9-4827-93E6-ACE4DBC92D27</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>output</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1F280338-5360-406E-8889-747D899A14F9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>wrong</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>200C812D-CA57-4F67-8C8B-2E984918C896</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D531639-4A07-4B31-B86D-69425EDD028D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>1F280338-5360-406E-8889-747D899A14F9</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>200C812D-CA57-4F67-8C8B-2E984918C896</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>222B01D5-7DB9-4827-93E6-ACE4DBC92D27</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>741A7DC9-2DED-48C2-B959-26BC7AD57A13</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>84E6C25B-DBDB-487B-84AE-B6FDBD9DDB07</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
	</dict>
</dict>
</plist>
